<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex justify-content-end-around">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1>MiLogo</h1>
        </a>
        <div class="collapse navbar-collapse w-75" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/Crear']">Crear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Listar']">Listar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Actualizar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Eliminar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>